_original-libs
bin
build
.vscode

protocol_0753499.tar.gz
code_0753499.tar.gz
Protocol.pdf
Listing.pdf

*.aux
*.lof
*.log
*.lot
*.fls
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml
*.fdb_latexmk
*.lol
